# Auto detect text files and perform LF normalization
* text=auto

# Prevent line ending normalization for ANSI files,
# since it's important to distinguish carriage return and line feed characters,
# and either may be used without the other.
# To visualize ANSI control codes when diffing, first check that `cat --show-all` is supported,
# then run `git config --local "diff.cat-show-all.textconv" "cat --show-all"`
# which will add a [diff "cat-show-all"] section to the local .git/config file.
# This might not affect your Git GUI of choice, but it will affect Git's command line.
*.ans binary diff=cat-show-all
*.ANS binary diff=cat-show-all
*.nfo binary diff=cat-show-all
*.NFO binary diff=cat-show-all

# Localization data (copied from JS Paint) shouldn't affect the language statistics on GitHub.
*.js linguist-detectable=false

# Custom for Visual Studio
*.cs     diff=csharp
*.sln    merge=union
*.csproj merge=union
*.vbproj merge=union
*.fsproj merge=union
*.dbproj merge=union

# Standard to msysgit
*.doc	 diff=astextplain
*.DOC	 diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF	 diff=astextplain
*.rtf	 diff=astextplain
*.RTF	 diff=astextplain
