appscript==1.2.2; sys_platform == 'darwin' # for setting the wallpaper on macOS; optional, falls back to osascript CLI
pyobjc-framework-Quartz==9.2; sys_platform == 'darwin' # for getting the screen resolution on macOS; optional, falls back to 1920x1080
Pillow==9.5.0
# psutil==5.9.0 # for cleaning up open files when auto-restarting on changes in development; optional
pyfiglet==0.8.post1
# PyGObject==3.42.1 # gi.repository module, used for setting the wallpaper on gnome, unity, and cinnamon; optional, falls back to gsettings CLI
pyperclip==1.8.2
pyxdg==0.28 # xdg module, used for wallpaper setting; optional, falls back to ~/.config
rich==13.3.5
stransi==0.3.0
textual==0.29.0
textual-dev==1.0.0 # for development (`textual` CLI)
watchdog==3.0.0 # for development; optional (only used when --restart-on-changes is passed)
types-Pillow==10.0.0.1 # for development
types-psutil==5.9.5.15 # for development
pytest==7.4.1 # for development
pytest-asyncio==0.21.1 # for development
pytest-textual-snapshot==0.4.0 # for development
pyfakefs==5.2.4 # for development
