GalleryItem {
    layout: vertical;
    width: 100%;
    content-align: center middle;
    align: center middle;
}

.image {
    height: auto;
    width: auto;
    align: center middle;
}
.caption {
    dock: bottom;
    text-align: center;
    background: blue;
    color: yellow;
}
